.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $m-size;
  font-weight: 300;
  padding: $s-size;
}

.select:hover {
  cursor: pointer;
}

.select {
  @extend .text-input;
}

.date-picker:hover {
  cursor: pointer;
}

.textarea {
  @extend .text-input;
  height: 10rem;
  resize: none;
}
